.community-main{
    background-color: #fcfcfd;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 500px;
}
.main-header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.main-header-r{
    padding: 10px;
}
.main-header .theme{
    font-size: 1.1em;
    color: #006987;
    margin: 0 13px;
}
.main-header .new-theme{
    color: #ffd737;
}
.community-title{
    font-size: 1.2em;
    padding: 10px 0;
}
.community-nav{
}
.community-nav li{
    float: left;
    margin: 0 5px;
    color: #c2c2c2;
}
.note-details-box{
    min-height: 100px;
}
.note-comment .title{
    padding: 10px 0;
}
.note-title{
    text-align: center;
    padding: 10px 0;
}
.note-info{
    text-align: center;
    padding: 10px 0;
}
.note-summary{
    line-height: 2em;
    background-color: #f8f8f8;
}
.note-img{
    height: 350px;
    background-color: #ccc;
    margin: 10px 20px;
}
.note-txt{
    line-height: 1.5em;
}
.end-line{
    text-align: center;
    border-top: 1px solid #eee;
    margin: 30px 0 10px 0;
    padding-top: 10px;
    font-weight: bold;
}
.aside-box{
    padding: 10px;
}
.aside-box .title{
    padding: 0 10px;
    margin: 0 15px;
    line-height: 30px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-left: 3px solid #ffd737;
    margin-bottom: 10px;
}
.aside-box .line{
    height: 1px;
    background-color: #eee;
    margin: 0 10px 10px 10px;
}
.author-box{
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
}
.author-box .icon{
    margin: 10px auto;
}
.author-box p{
    text-align: center;
    margin:inherit;
    margin-bottom: 15px;
}
.author-box .author-score span{
    vertical-align: middle;
}
.author-box .author-score .score-line{
    width: 15px;
    height: 2px;
    background-color: #ff8b3d;
}
.author-box .author-score .score-val{
    margin: 0 5px;
}
.author-box .btn-group{
    display: block;
    margin-top: 50px;
}
.author-box .btn-group a{
    background-color: #ffd737;
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 0 5px;
}
.sign{
    margin: 25px 0;
}
.miao-app{
    background-color: #fff;
}
.pagination-box{
    text-align: center;
    margin: 10px 0 35px 0;
    display: none;
}
.pagination-box .btn-page{
    width: 200px;
    padding: 16px 20px;
    left: 35px;
    border: none;
    background-color: #ffd737;
    color: #fff;
}
.pagination-box .pages .page{
    display: inherit;
}
.pagination-box .pages a{
    display: inherit;
    padding: 15px 20px;
    border: 1px solid #d7d7d7;
}
/*******文章点评********/
.note-comment form{
    margin: 15px 0px 10px 0;
}
.note-comment .commment-body{
    width: 100%;
    height: 120px;
    border: 1px solid #e0e0e0;
}
.note-comment .btn-group{
    display: block;
    text-align: right;
}
.note-comment .btn-group .btn-publish{
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #ffd737;
    color: #fff;
    margin: 10px 0;
}
.comments-box{
    padding: 10px;
}
.comments-box .comments-list{

}
.comment-item{
    padding: 10px 0;
}
.comment-item .user-icon{
    float: left;
    width: 35px;
    height: 35px;
    background-color: #555;
    border-radius: 50%;
}
.comment-item .comment-main{
    position: relative;
    margin-left: 60px;
    line-height: 30px;
}
.comment-item .user-info{

}
.user-info .user-name{
    color: #ffd737;
}
.user-info .floor{
    float: right;
    color: #d7d7d7;
}
.user-info .user-comment{

}
/**********comment***********/
.comment-item .reply-box{
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.comment-item .btn-reply{
    border: none;
    background-color: #ffd737;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 5px;
}
.reply-box .btn-show-reply{
    color: #fff;
    background-color:#b1afaa;
    border-radius: 0;
    padding: 3px;
}
.reply-main{
    display: none;
    margin: 10px 0;
}
.reply-content{
    width: 100%;
    height: 65px;
    border-radius: 5px;
    border: 1px solid #ffd737;
}
.btn-reply-group{
    margin: 10px 0;
}
/**********comment***********/
.chat-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9998;
    display: none;
}
.chat-dialog{
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 9999;
    background-color: #fff;
    padding: 30px 20px;
    display: none;
}
.chat-dialog .chat-close{

}
.chat-dialog .chat-header{
    text-align: center;
}
.chat-dialog .chat-header .chat-user-icon{

}
.chat-dialog .chat-header .chat-user-name{
    margin: 15px 0;
}
.chat-dialog .chart-content .main-chat{

}
.chat-dialog .chart-btn-group{
    text-align: right;
    margin: 5px 0;
}
.chat-dialog .chart-btn-group .btn-send{
    border: none;
    background-color: #ffd737;
    color: #fff;
    padding: 5px 15px;
}
/**********add theme************/
.theme-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 9996;
    display: none;
}
.add-theme-box{
    position: fixed;
    width: 600px;
    height: 350px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    margin: auto;
    z-index: 9997;
    display: none;
}
.new-theme-top{

}
.new-theme-center{

}
.new-theme-center .content{
    width: 100%;
    height: 150px;
    border: 1px solid #dedede;
}
.new-theme-bottom{
    padding: 10px;
    text-align: center;
}
.new-theme-bottom .btn{
    border: none;
    color: #fff;
    outline: none;
    padding: 3px 10px;
    background-color: #fdd94b;
    height: 30px;
    border-radius: 0;
}
.theme-label{
    height: 30px;
    line-height: 30px;
    margin: 5px 10px;
}
#new-theme-title{
    width: 100%;
    border: 1px solid #eee;
    height: 32px;
    line-height: 32px;
}
.inputs-area{
    text-align: center;
    margin: 10px;
}