.vr-player-box{
    height: 450px;
    margin-top: 5px;
    background-color: #555;
}
.vr-video-info{
    background-color: #fff;
}
.vr-video-icon{
    background-color: #555;
    margin: 10px;
}
.video-item{
    padding: 10px 0;
}
.video-item span{

}
.video-item .val{
    margin: 0 5px;
}
.video-item .date{
    margin-right: 20px;
}
.video-item .f-size{
    margin-right: 20px;
}
.video-item .video-type{

}
.video-item .video-type .video-type-tag{
    background-color: #E91E63;
    color: #fff;
    padding: 2px 10px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 12px;
    display: none;
}
.download-box{
    padding: 10px;
    text-align: center;
}
.download-box .btn-download{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #ff8b3d;
}
.download-box .btn-download .icon{
    width:88px;
    height: 100%;
    background: url('../images/playvr/download-h.png') no-repeat;
}
.vr-video-bottom{
    margin-right: 50px;
}
.vr-video-description{
    margin-top: 20px;
    padding: 10px;
}
.vr-video-basic p{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.vr-video-description .content{
    height: inherit;
}
.vr-video-basic .title{
   border-left: 5px solid #ffd737;
}
.vr-video-basic .content{
    margin: 10px 0;
}
.video-title{
    font-size: 1.8em;
    padding: 10px 0;
}
.other-videos-box{
    padding: 10px;
}
.other-videos-title{
    height: 40px;
    line-height: 40px;
    background-color: #dad9d8;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}
.other-video{
    margin-top: 10px;
    margin-bottom: 10px;
}
.other-video .other-video-icon{
    background-color: #555;
}
.other-video .other-video-title{
    padding-top: 8px;
    text-align: center;
}
.vr-video-comment{
    padding: 10px;
}
.vr-video-comment form{
    margin: 15px 0px 10px 0;
}
.vr-video-comment .commment-body{
    width: 100%;
    height: 120px;
    border: 1px solid #e0e0e0;
}
.vr-video-comment .btn-group{
    display: block;
    text-align: right;
}
.vr-video-comment .btn-group .btn-publish{
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #ffd737;
    color: #fff;
    margin: 10px 0;
}
.comments-box{
    padding: 10px;
}
.comments-box .comments-list{

}
.comment-item .user-icon{
    float: left;
    width: 35px;
    height: 35px;
    background-color: #555;
    border-radius: 50%;
}
.comment-item .comment-main{
    position: relative;
    margin-left: 60px;
    line-height: 30px;
}
.comment-item .user-info{

}
.user-info .floor{
    float: right;
    color: #d7d7d7;
}
.user-info .user-comment{

}
/**********comment***********/
.comment-item .btn-reply{
    border: none;
    background-color: #ffd737;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 5px;
}
.reply-box .btn-show-reply{
    width: 40px;
    height: 20px;
    cursor: pointer;
    background: url('../images/common/btn-reply.png') no-repeat;
}
.reply-main{
    display: none;
    margin: 10px 0;
}
.btn-reply-group{
    margin: 10px 0;
}
/**********comment***********/
.vr-video-basic .mask-loading{
    left: 15px;
}
#other-video-aside{
    position: relative;
}