.vr-category-link{
    display: block;
    margin:20px auto;
}
.vr-category-link .vr-category{
    margin:0 auto;
}
.col-sm-20{
    width: 20%;
}
.col-sm-40{
    width: 40%;
}
.col-sm-60{
    width: 60%;
}
.row-pb-10{
    padding-bottom: 30px;
}
.col-sm-20{
    padding-bottom: 20px;
}
.row-vr{
    margin-top: 10px;
    padding-bottom: 15px;
    position: relative;
}
.img-left.vr-category-link{
    margin-left: 0;
}
.img-left.vr-category-link .vr-category{
    margin: inherit;
}
.img-right.vr-category-link{
    margin-right: 0;
}
.img-right.vr-category-link .vr-category{
    margin: inherit;
}
.banner-box{
    text-align: center;
    background-color: #fff;
}
.banner-box .banner-img{
  overflow: hidden;
}
#game-selection-box{
  position: relative;
}
.container .row-vr a{
  display: block;
  position: relative;
}
.container .row-vr a:hover{
    text-decoration: none;
}
.container .row-vr a .title{
    color: #333333;
    padding: 5px 0;
}
@media (max-width: 768px) {
   .img-left.vr-category-link .vr-category,.img-right.vr-category-link .vr-category{
        margin: 0 auto;
   } 
   .col-sm-20,.col-sm-40,.col-sm-60{
        width: inherit;
   }
   .col-sm-4{
        margin: 10px auto;
   }
   .row-pb-10{
        padding-bottom: inherit; 
   }
   .banner-box{
        margin: 0;
        padding: 0;
   }
}
@media (max-width: 375px) {
  .container .row-vr a .title{
    text-align: center;
  }
  .banner-box img{
    height: 50px;
  }
}