.vr-category-link{
    display: block;
    margin:20px auto;
}
.vr-category-link .vr-category{
    margin:0 auto;
}
.col-sm-20{
    width: 20%;
    padding-bottom: 20px;
}
.col-sm-40{
    width: 40%;
}
.col-sm-60{
    width: 60%;
}
.row-pb-10{
    padding-bottom: 30px;
}
.row-vr{
    position: relative;
    margin-top: 10px;
    /*padding-bottom: 15px;*/
}
.img-left.vr-category-link{
    margin-left: 0;
}
.img-left.vr-category-link .vr-category{
    margin: inherit;
}
.img-right.vr-category-link{
    margin-right: 0;
}
.img-right.vr-category-link .vr-category{
    margin: inherit;
}
.banner-box{
    text-align: center;
    background-color: #fff;
}
.banner-box .banner-img{
  overflow: hidden;
}
#vr-recommend-box{
    margin-bottom: 20px;
}
#vr-recommend-box .f-vr{
  display: block;
}
.f-vr img{
  height: 277px;
}
#game-selection-box{
  position: relative;
}
.container .row-vr a{
  display: inline-block;
  position: relative;
}
#vr-recommend-box .recommed-item img{
  width: 100%;
}
.item-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    padding-right: 5px;
    background: url('../images/common/item-title-bg.png') repeat-x;
}
.item-title .duration-time {
    float: right;
}
.hover-mask{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 99;
    opacity: 0.5; 
    display: none;
}
.play-icon{
    width: 47px;
    height:47px;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -23px;
    margin-top: -23px;
    background: url('../images/common/play.png') no-repeat;
}
.row-vr a:hover .hover-mask {
    display: block;
}
@media (max-width: 1200px) {
  .f-vr img{
    height: auto;
  }
}
@media (max-width: 768px) {
  .col-xs-12{
    width: 50%;
  }
  .img-left.vr-category-link{
    margin-left: auto;
  }
  .img-right.vr-category-link{
    margin-right: auto;
  }
  .col-sm-40,.col-sm-60{
    width: inherit;
  }
  .col-sm-20{
    float: left;
  }
   #vr-recommend-box{
    text-align: center;
   }
   #vr-recommend-box a{
    margin-bottom: 10px;
   }
   .row-pb-10{
    padding-bottom: 0;
   }
}
@media (max-width: 600px) {
   .img-left.vr-category-link .vr-category,
   .img-right.vr-category-link .vr-category{
        margin: 0 auto;
   } 
   .col-sm-20,.col-sm-40,.col-sm-60{
        width: inherit;
        text-align: center;
   }
   .col-sm-4{
        margin: 10px auto;
   }
   .row-pb-10{
        padding-bottom: inherit; 
   }
}
@media (max-width: 414px) {
  .f-vr{
    margin-bottom:10px;
  }
}