<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR社区</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/community-details.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VR TV</a>
                    </li>
                    <li>
                        <a href="../vrgame.html">VR游戏</a>
                    </li>
                    <li class="choose">
                        <a href="#">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>  
    <div class="container community-main">
      <div class="row main-header">
        <div class="col-sm-9">
          <span class="community-title inb">VR社区</span>
          <ul class="community-nav inb">
            <li><a href="../index.html">首页</a></li>
            <li>></li>
            <li><a href="./community.html">VR社区</a></li>
            <li>></li>
            <li>查看内容</li>
          </ul>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-9">
            <div class="note-details-box">
              <h2 class="note-title">
                在德推电动摩托车共享，这家全球顶级供应商也玩跨界
              </h2>
              <div class="note-info">
                <span class="note-author">瞄女郎</span>
                <span class="publish-date">2016-8-8</span>
                <span class="view-mobile"><i class="icon"></i>手机看贴</span>
              </div>
              <div class="note-body">
                <div class="note-summary">
                  近期共享租车服务火遍全球：福特汽车此前宣布进入私人巴士和共享自行车，汽车租赁平台Zipcar开始布局自行车共享，而现在连博世这样的一级供应商也要做共享电动车服务了。
                </div>
                <p class="note-img"></p>
                <p class="note-txt">
                  Markus Heyn表示，像柏林这样的大城市，基础的服务设施已经达到了上线。城市经常发生堵车现象，车主们很难找到停车位，需要快速、灵活、便捷的出行解决方案。

因此，博世推出了更好的个人出行服务方案。很多项出行服务的方案正在制定中，比如在城区化停车和主动式停车管理，此外还有针对联合运输的出行服务方案。

Coup共享平台的创始人Mat Schubert认为Coup平台有两大优势：一是在硬件上采用互联网化很高的电动摩托车Gogoro（来自台湾的科技创业公司）；二是软件和波士顿咨询公司电子事业部合作，在B2C方面非常专业。

 Schubert表示：相比公共交通，这种出行方式更快速、便宜和便捷。
                </p>
                <p class="end-line">
                  end
                </p>
              </div>
            </div>
            <div class="note-comment">
              <p class="title">视频点评</p>
              <form action="#">
                <textarea class="commment-body"></textarea>
                <div class="btn-group">
                  <input type="submit" value="发布" class="btn-publish">
                </div>
              </form>
            </div>
            <div class="comments-box">
                <ul class="comments-list">
                  <li class="comment-item">
                    <div class="user-icon"></div>
                    <div class="comment-main">
                      <div class="user-info">
                        <span class="user-name">哈哈</span>
                        <span class="floor">23#</span>
                      </div>
                      <div class="user-comment">
                        很好玩,有木有
                      </div>
                    </div>
                    <div class="reply-box">
                       <input type="button" class="btn-reply" value="回复"/> 
                    </div>
                  </li>
                  <li class="comment-item">
                    <div class="user-icon"></div>
                    <div class="comment-main">
                      <div class="user-info">
                        <span class="user-name">哈哈</span>
                        <span class="floor">23#</span>
                      </div>
                      <div class="user-comment">
                        很好玩,有木有
                      </div>
                    </div>
                    <div class="reply-box">
                       <input type="button" class="btn-reply" value="回复"/> 
                    </div>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="aside-box">
              <div class="publish-theme">
                <a href="#" class="btn-publish-theme">
                  <img src="../images/community/publish-theme.png" alt='' class="img-responsive"/>
                </a>
              </div>
             <div class="author-box">
              <div class="icon">
                <img src="../images/comDetails/user-icon.png"  alt='' class="img-responsive"/>
              </div>
              <p class="author-name">喵女郎</p>
              <p class="author-score">
                <span class="score-line inb"></span>
                <span class="score-val">6060</span>
                <span class="score-line inb"></span>
              </p>
              <p class="fen">积分</p>
              <p class="btn-group">
                <a href="./visitUserHome.html" class="home">主页</a>
                <a href="javascript:void(0);" class="chat" id="chat">聊聊</a>
              </p>
             </div>
             <div class="sign">
              <a href="#" class="btn-sign">
                  <img src="../images/community/sign.png" alt='' class="img-responsive"/>
              </a>
             </div>
             <div class="miao-app">
               <p class="title">
                 喵喵社区APP下载
               </p>
               <div class="line"></div>
               <img src="../images/community/down-app.jpg" alt='' class="img-responsive"/>
             </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="pagination-box">
            <input type="button" value="上一页" class="btn-page">
            <ul class="pages inb">
              <li class="page"><a href="#">1</a></li>
              <li class="page"><a href="#">2</a></li>
              <li class="page"><a href="#">3</a></li>
              <li class="page"><a href="#">4</a></li>
            </ul>
            <input type="button" value="下一页" class="btn-page">
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <div class="chat-mask"></div>
    <div class="chat-dialog">
      <div class="chart-close"></div>
      <div class="chat-header">
        <div class="chat-user-icon">
          <img src="../images/comDetails/user-icon.png">
        </div>
        <p class="chat-user-name">瞄女郎</p>
      </div>
      <div class="chart-content">
        <textarea class="main-chat"></textarea>
      </div>
      <div class="chart-btn-group">
        <input type="button" value="发送" class="btn-send"/>
      </div>
    </div>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#chart").on("click",function(e){
          e.preventDefault();

        });
      });
    </script>
  </body>
</html>