<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR社区</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/community.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li class="choose">
                        <a href="#">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <div class="container community-main">
      <div class="row main-header">
        <div class="col-sm-9">
          <span class="community-title inb">VR社区</span>
          <ul class="community-nav inb">
            <li>首页</li>
            <li>></li>
            <li>VR社区</li>
          </ul>
        </div>
        <div class="col-sm-3 main-header-r">
          <a class="theme new-theme">最新主题</a>
          <a class="theme">推荐主题</a>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-9">
            <div class="notes-box" id="note-list-box">
              <div class="mask-loading">
                <div class="loading-icon"></div>
              </div>
              <ul class="notes-list">
                <li class="note-item">
                  <div class="note-icon">
                    <img src="../images/common/default.png" role-err="../images/common/default.png" class="img-responsive user-icon">
                  </div>
                  <div class="note-main">
                    <div class="note-info">
                      <a href="#" class="note-name"></a>
                      <span class="tag inb tag-new"></span>
                    </div>
                    <div class="note-extra">
                      <span class="note-author"></span>
                      <span class="note-date"></span>
                      <span class="note-chat note-r">
                        <i class="icon inb"></i>
                        <span class="num comment-count">0</span>
                      </span>
                      <span class="note-off note-r">
                        <i class="icon inb"></i>
                        <span class="num visit-count">0</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pagination-box">
              <input type="button" value="上一页" class="btn-page">
              <ul class="pages inb">
                <li class="page"><a href="#">1</a></li>
                <li class="page"><a href="#">2</a></li>
                <li class="page"><a href="#">3</a></li>
                <li class="page"><a href="#">4</a></li>
              </ul>
              <input type="button" value="下一页" class="btn-page">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="aside-box">
              <div class="publish-theme">
                <a href="#" class="btn-publish-theme">
                  <img src="../images/community/publish-theme.png" alt='' class="img-responsive"/>
                </a>
              </div>
             <div class="trends">
               <p class="title">热点动态</p>
               <div class="line"></div>
               <ul class="trends-list">
                <li>
                  <a href="#"></a>
                  <p class="trends-title">测试测试测试</p>
                </li>
                <li>
                  <a href="#"></a>
                  <p class="trends-title">测试测试测试</p>
                </li>
                <li>
                  <a href="#"></a>
                  <p class="trends-title">测试测试测试</p>
                </li>
               </ul>
             </div>
             <div class="sign">
              <a href="#" class="btn-sign">
                  <img src="../images/community/sign.png" alt='' class="img-responsive"/>
              </a>
             </div>
             <div class="miao-app">
               <p class="title">
                 喵喵社区APP下载
               </p>
               <div class="line"></div>
               <img src="../images/community/down-app.jpg" alt='' class="img-responsive"/>
             </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="theme-mask"></div>
    <div class="add-theme-box">
      <div class="new-theme-top">
        <p class="theme-label">标题</p>
        <div class="inputs-area">
          <input type="text" id="new-theme-title">
        </div>
      </div>
      <div class="new-theme-center">
        <p class="theme-label">内容</p>
        <div class="inputs-area">
          <textarea class="content" id="new-theme-content"></textarea>
        </div>
      </div>
      <div class="new-theme-bottom">
        <input type="button" value="确定" class="btn-theme-add btn">
        <input type="button" value="取消" class="btn-theme-cancel btn">
      </div>
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
      var off=0;
      var len=10;
      $(document).ready(function(){
        queryPage(0);
        $(".btn-publish-theme").on("click",function(e){
          e.preventDefault();
          if(Base.isLogin()){
            $(".theme-mask").height($(document).height()).fadeIn();
            $(".add-theme-box").fadeIn();
          }
        });
        $(".btn-theme-cancel").on("click",function(){
          hideThemePop();
        });
        $(".btn-theme-add").on("click",function(){
          var _title=$("#new-theme-title").val();
          var _content=$("#new-theme-content").val();
          if(!_title){
            Base.showAlert("请输入主题标题","error");
            return;
          }
          if(!_content){
            Base.showAlert("请输入主题内容","error");
            return;
          }
          console.log(_title+":"+_content);
          Base.queryData("/forum/save","POST",{"title":_title,"forum_details":_content,"uuid":"bb90efc3-27c4-240c-b5ba-4561e3faf3e2"},function(data){
            hideThemePop();
            console.log(data);
            if(Base.isSuccess(data)){
              Base.showAlert("发表成功");
            }else{
              Base.showAlert(data.error_msg,"error");
            }
          },function(err){
             hideThemePop();
             Base.showAlert(err);
          });
        });
      });
      function hideThemePop(){
        $(".theme-mask").fadeOut();
        $(".add-theme-box").fadeOut();
      }
      function queryPage(pageId){
        var _pageId=parseInt(pageId);
        off=_pageId*len;
        $("#note-list-box").find("mask-loading").fadeIn();
        Base.queryData("/forum/all?offset="+off+"&length="+len,null,null,function(data){
          console.log(data);
          if(Base.isSuccess(data)){
            handleNote(data);
          }else{
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
           Base.showAlert(err);
        });
      }
      function handleNote(data){
        var $parentBox=$("#note-list-box");
        $parentBox.find("img").on("error",function(){
          var _this=$(this);
          _this.attr("src",_this.attr("role-err"));
          _this.off("error");
        });
        var childrenBoxs=$parentBox.find(".note-item");
        var list=data.list_result;
        var temp_result=null;
        var temp_box=null;
        var vnum=0;
        var temp_child=null;
        for (var i=0,j=list.length; i<j; i++){
          temp=list[i];
          if(childrenBoxs.length<=i){
            temp_box= $(childrenBoxs[0]).clone(true); 
            $parentBox.append(temp_box);
          }else{
            temp_box=$(childrenBoxs[i]);
          }
          temp_box.find(".user-icon").attr("src",temp.user.thumbAvatar);
          temp_box.find(".note-name").attr("href","./comDetails.html?nid="+temp.forumId).html(temp.title);
          temp_box.find(".note-author").html(temp.user.nickname);
          temp_box.find(".note-date").html(Base.formatDate(temp.publish_time));
          temp_box.find(".comment-count").html(temp.commentNums);
        }
        $parentBox.find(".mask-loading").fadeOut();
      }
    </script>
  </body>
</html>