<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR社区</title>
    <link href="../ckeditor/ckeditor.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/community.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li class="choose">
                        <a href="#">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li class="header-login">
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                   <li class="user-status">
                      <a href="./userCenter.html">
                        <img src="../images/comDetails/user-icon.png" width=40 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                      </a>
                      <span class="arrow"></span>
                      <div class="user-hidden-box">
                        <span class="header-user-name inb"></span>
                        <p class="exit-box">
                          <a href="./userCenter.html">个人中心</a>
                          <span class="h-line"></span>
                          <a href="javascript:void(0);"class="exit">退出</a>
                        </p>
                      </div>
                    </li>
                    <li class="search-i">
                      <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                        <span class="input-search-box">
                          <input type="text" name="search_txt" id="t-search" class="input-search">
                        </span><span class="btn-search-box">
                          <input type="submit" value="搜索" id="btn-search" class="btn-search">
                        </span>
                      </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <div class="container community-main">
      <div class="row main-header">
        <div class="col-sm-9">
          <span class="community-title inb">VR社区</span>
          <ul class="community-nav inb">
            <li><a href="../index.html">首页</a></li>
            <li>></li>
            <li><a href="#">VR社区</a></li>
          </ul>
        </div>
        <div class="col-sm-3 main-header-r">
          <a class="theme" href="./community.html">最新主题</a>
          <a class="theme cur-theme" href="javascript:void(0);">推荐主题</a>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-9">
            <div class="notes-box" id="note-list-box">
              <div class="mask-loading">
                <div class="loading-icon"></div>
              </div>
              <ul class="notes-list">
                <li class="note-item">
                  <div class="note-icon">
                    <img src="../images/common/default.png" role-err="../images/common/default.png" class="img-responsive user-icon">
                  </div>
                  <div class="note-main">
                    <div class="note-info">
                      <a href="#" class="note-name"></a>
                      <span class="tag inb"></span>
                    </div>
                    <div class="note-extra">
                      <span class="note-author"></span>
                      <span class="note-date"></span>
                      <span class="note-chat note-r">
                        <i class="icon inb"></i>
                        <span class="num comment-count">0</span>
                      </span>
                      <span class="note-off note-r">
                        <i class="icon inb"></i>
                        <span class="num visit-count">0</span>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="pagination-box" id="pagination"></div>
          </div>
          <div class="col-sm-3">
            <div class="aside-box">
              <div class="publish-theme">
                <a href="#" class="btn-publish-theme">
                  <img src="../images/community/publish-theme.png" alt='' class="img-responsive"/>
                </a>
              </div>
             <div class="trends">
               <p class="title">
                <span class="ver-line"></span>
                <span class="t">热点动态</span>
              </p>
               <div class="line"></div>
               <ul class="trends-list">
                <li>
                  <a href="#"></a>
                  <p class="trends-title"></p>
                </li>
                <li>
                  <a href="#"></a>
                  <p class="trends-title"></p>
                </li>
                <li>
                  <a href="#"></a>
                  <p class="trends-title"></p>
                </li>
               </ul>
             </div>
             <div class="sign">
              <a href="javascript:void(0);" id="btn-user-sign" class="btn-sign">
                  <img src="../images/community/sign.png" alt='' class="img-responsive"/>
              </a>
             </div>
             <div class="miao-app">
               <p class="title">
                 喵喵社区APP下载
               </p>
               <div class="line"></div>
               <img src="../images/community/down-app.jpg" alt='' class="img-responsive"/>
             </div>
            </div>
          </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="theme-mask"></div>
    <div class="add-theme-box">
      <div class="new-theme-top">
        <p class="theme-label">标题</p>
        <div class="inputs-title">
          <input type="text" id="new-theme-title">
        </div>
      </div>
      <div class="new-theme-center">
        <p class="theme-label">内容</p>
        <div class="inputs-area">
          <div class="content" id="new-theme-content"></div>
        </div>
      </div>
      <div class="new-theme-bottom">
        <input type="button" value="确定" class="btn-theme-add btn">
        <input type="button" value="取消" class="btn-theme-cancel btn">
      </div>
    </div>
    <div class="a-login-box">
      <form action="/v1/account_password_login.php" class="a-login-form" id="login-form">
        <p class="a-login-title">
          账号登陆
        </p>
        <p class="a-login-item">
          <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" placeholder="手机号" id="uname">
        </p>
        <p class="a-login-item">
          <input type="password" role-type="pass" name="pass" role-null="请输入密码" role-err="密码包含数字字母或者下划线，6~16位长度" class="inp" placeholder="密码" id="pass">
        </p>
        <p class="a-login-item">
          <input type="submit" value="登录" id="btn-login" class="btn-login">
        </p>
        <p class="a-login-item login-item-register">
          没有账号?<a href="./register.html" class="register">免费注册</a>
        </p>
      </form>
    </div>
    <!--end of footer-->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="../ckeditor/ck-config.js"></script>
    <script type="text/javascript" src="http://www.zhangxinxu.com/jq/pagination_zh/lib/jquery.pagination.js"></script>
    <script type="text/javascript">
      var pageSize=12;
      var curPage=0;
      var isQuery=true;
      $(document).ready(function(){
        if(Base.isLogin()){
          initCkeditor();
        }
        Base.initHeaderUser();
        queryPage(curPage);
        //签到
        $("#btn-user-sign").on("click",function(e){
          e.preventDefault();
          if(!Base.isLogin()){
            LoginValid.init("login-form",function(data){
              $(".login-mask").click();
            });
            Base.showLoginBox();
          }else{
            Base.excuteAjax("/attendance/save","POST",{"uuid":Base.getUUID()},function(data){
              if(Base.isSuccess(data)){
                Base.showAlert("签到成功");
              }else{
                Base.showAlert(data.error_msg,"error");
              }
            },function(err){
               Base.showAlert(err);
            });
          }   
        });
        $(".btn-publish-theme").on("click",function(e){
          e.preventDefault();
          if(!Base.isLogin()){
            LoginValid.init("login-form",function(data){
              $(".login-mask").click();
            });
            Base.showLoginBox();
          }else{
            $(".theme-mask").height($(document).height()).fadeIn();
            $(".add-theme-box").fadeIn();
          }
        });
        $(".btn-theme-cancel").on("click",function(){
          hideThemePop();
        });
        $(".btn-theme-add").on("click",function(){
          var _title=$("#new-theme-title").val();
          var _content=CKEDITOR.instances["new-theme-content"].document.getBody().getHtml();
          if(!_title){
            Base.showAlert("请输入主题标题","error");
            return;
          }
          if(!_content){
            Base.showAlert("请输入主题内容","error");
            return;
          }
          Base.excuteAjax("/forum/save","POST",{"title":_title,"forum_details":_content,"uuid":$.cookie("uuid")},function(data){
            hideThemePop();
            console.log(data);
            if(Base.isSuccess(data)){
              Base.showAlert("发表成功");
              queryPage(0);
            }else{
              Base.showAlert(data.error_msg,"error");
            }
          },function(err){
             hideThemePop();
             Base.showAlert(err);
          });
        });
      });
      function hideThemePop(){
        $(".theme-mask").fadeOut();
        $(".add-theme-box").fadeOut();
      }
      var isPageInit=false;
      function initPagination(size){
        $("#pagination").pagination(size, {
          callback: function(data){
            if(data==curPage){
              return;
            }else{
              queryPage(data);
            }
          }, 
          prev_text: "上一页",
          next_text: "下一页",
          items_per_page:pageSize,
          num_edge_entries: 2, 
          num_display_entries: 6, 
          current_page: curPage
        });
        isPageInit=!isPageInit;
      }
      var $noteListMask=null;
      function queryPage(pageId){
        if(!$noteListMask){
          $noteListMask=$("#note-list-box").children(".mask-loading");
        }
        if($noteListMask.css("display")==="none"){
          $noteListMask.fadeIn(); 
        }
        var _pageId=parseInt(pageId);
        $("#note-list-box").find("mask-loading").fadeIn();
        Base.excuteAjax("/forum/tag?offset="+_pageId+"&length="+pageSize,"POST",{"tag":"1"},function(data){
          console.log(data);
          if(Base.isSuccess(data)){
            if(data.list_result.length<1){
              $noteListMask.fadeOut();
              $("#pagination").css("display","none");
              $("#note-list-box").css("display","none");
              return;
            }
            if(!isPageInit){
              initPagination(data.list_size);
            }
            handPageSizeNote(data);
            curPage=_pageId;
          }else{
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
           Base.showAlert(err);
        });
      }
      var $noteParentBox=null;
      function handPageSizeNote(data){
        if(!$noteParentBox){
          $noteParentBox=$("#note-list-box");
        }
        $noteParentBox.find("img").on("error",function(){
          var _this=$(this);
          _this.attr("src",_this.attr("role-err"));
          _this.off("error");
        });
        var childrenBoxs=$noteParentBox.find(".note-item");
        var $notes_list=$noteParentBox.find(".notes-list");
        $notes_list.css("display","block");
        var list=data.list_result;
        var temp_result=null;
        var temp_box=null;
        var vnum=0;
        var temp_child=null;
        for (var i=0,j=list.length; i<j; i++){
          temp=list[i];
          if(childrenBoxs.length<=i){
            temp_box= $(childrenBoxs[0]).clone(true); 
            temp_box.appendTo($notes_list);
          }else{
            temp_box=$(childrenBoxs[i]);
          }
          temp_box.find(".user-icon").attr("src",temp.user.thumbAvatar);
          temp_box.find(".note-name").attr("href","./comDetails.html?nid="+temp.forumId).html(temp.title);
          temp_box.find(".note-author").html(temp.user.nickname);
          temp_box.find(".note-date").html(Base.formatDate(temp.publish_time));
          temp_box.find(".comment-count").html(temp.commentNums);
          temp_box.find(".visit-count").html(temp.views);
          checkNoteDate(temp.publish_time,temp_box.find(".tag"));
          //temp_box.find(".tag").addClass(" tag-new");
        }
        if(list.length==0){
          $("#note-list-box .notes-list").css("display","none");
        }
        $noteListMask.fadeOut();
      }
      var baseDate=null;
      function checkNoteDate(publish_date,tagObj){
        if(!publish_date){
          return;
        }
        if(!baseDate){
          baseDate=new Date();
        }
        var pdate=new Date(publish_date);
        var timeGap=Math.ceil((baseDate-publish_date)/3600000/24);
        if(timeGap<=3){
          tagObj.addClass(".tag-new");
        }
      }
      function int(s){
        return parseInt(s);
      }
    </script>
  </body>
</html>