<!DOCTYPE html>
<html lang="zh-cn" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户登陆</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101359235" data-redirecturi="http://127.0.0.1:8080/miaovr/views/ssoLogin.html" charset="utf-8"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2225276015" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-c">
        <div id="main-navbar" class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="logo" title="Start..." class="navbar-brand" href="#">
                      <img src="../images/common/logo1.png" alt="miaovr Logo">
                  </a>
                  <div class="clearfix"></div>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-left">
                      <li>
                          <a href="../index.html">首页</a>
                      </li>
                      <li>
                          <a href="./vrinfo.html">VR资讯</a>
                      </li>
                      <li>
                          <a href="./vrtv.html">VRTV</a>
                      </li>
                      <li>
                          <a href="./vrgame.html">VR游戏</a>
                      </li>
                      <li>
                          <a href="./community.html">VR社区</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="http://miaomiaotv.cn/index.html">
                          <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">客户端</p>
                        </a>
                      </li>
                      <li>
                        <a href="./upload.html">
                          <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">上传视频</p>
                        </a>
                      </li>
                      <li>
                        <a href="./history.html">
                          <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">历史观看</p>
                        </a>
                      </li>
                      <li class="header-login">
                        <a href="./login.html">
                          <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">登陆/注册</p>
                        </a>
                      </li>
                      <li class="user-status">
                        <a href="./userCenter.html">
                          <img src="../images/common/default.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                        </a>
                        <span class="arrow"></span>
                        <div class="user-hidden-box">
                          <span class="header-user-name inb"></span>
                          <p class="exit-box">
                            <a href="./userCenter.html">个人中心</a>
                            <span class="h-line"></span>
                            <a href="javascript:void(0);"class="exit">退出</a>
                          </p>
                        </div>
                      </li>
                      <li class="search-i">
                        <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                          <span class="input-search-box">
                            <input type="text" name="search_txt" id="t-search" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" id="btn-search" class="btn-search">
                          </span>
                        </form>
                      </li>
                  </ul>
              </div>
              <!-- end of navbar-collapse -->
            </div>
            <!-- end of container-fluid -->
          </nav>
        </div>
      </div>
      <div class="header-bottom-line"></div>
    </div>  
    <div class="wrapper">
      <div class="login-box">
        <div class="row">
          <div class="col-sm-7">
            <form action="/v1/account_password_login.php" class="login-form" id="login-form">
              <p class="login-title">
                账号登陆
              </p>
              <p class="login-item">
                <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" placeHolder="手机号" id="uname">
              </p>
              <p class="login-item">
                <input type="password" role-type="pass" name="pass" role-null="请输入密码" role-err="密码包含数字字母或者下划线，6~16位长度" class="inp" placeHolder="密码" id="pass">
              </p>
              <p class="login-item">
                <input type="checkbox" id="remember">
                <label for="remember">记住我</label>
                <a href="./resetPass.html" class="forget">忘记密码?</a>
              </p>
              <p class="login-item">
                <input type="submit" value="登录" id="btn-login" class="btn-login"/>
              </p>
              <p class="login-item">
                没有账号?<a href="./register.html" class="register">免费注册</a>
              </p>
            </form>
          </div>
          <div class="col-sm-5">
            <div class="login-r">
              <div class="other-way">
                <span class="line inb"></span>
                <span>其他方式</span>
                <span class="line inb"></span>
              </div>
              <div class="apps">
                <a href="javascript:void(0);" data-sso-login="/passport/user/tplogin?tp=qq" class="qq inb"></a>
                <a href="javascript:void(0);" data-sso-login="/passport/user/tplogin?tp=weibo" class="weibo inb"></a>
                <a href="javascript:void(0);" data-sso-login="/passport/user/tplogin?tp=weixin" class="weixin inb"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of wrapper-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <span id="qq_login_btn"></span>
    <script type="text/javascript">
      QC.Login({//按默认样式插入QQ登录按钮
        btnId:"qq_login_btn"  //插入按钮的节点id
      });
    </script>
    <wb:login-button type="5,2" onlogin="login" onlogout="logout">登录按钮</wb:login-button>
    <script type="text/javascript">
      WB2.anyWhere(function(W){
          W.widget.connectButton({
              id: "wb_connect_btn", 
              type:"5,2",
              callback : {
                  login:function(o){  //登录后的回调函数
                  },  
                  logout:function(){  //退出后的回调函数
                  }
              }
          });
      });
    </script>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if(Base.isLogin()){
          window.location.href="./userCenter.html";
        }else{
          LoginValid.init("login-form");
        }
      });
    </script>
  </body>
</html>