<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR播放</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/playvr.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li class="choose">
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li class="header-login">
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="user-status">
                      <a href="./userCenter.html">
                        <img src="../images/comDetails/user-icon.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                        <span class="header-user-name"></span>
                      </a>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>

            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="vr-player-box">
        <div id="detu_container" style="height: 100%;width: 100%;"></div>
      </div>
      <div class="vr-video-info">
        <div class="row">
          <div class="col-sm-9">
            <div class="vr-video-basic">
              <div class="row">
                <div class="col-sm-4">
                  <div class="vr-video-icon">
                    <img src="#" id="pic_url" class="img-responsive"/>
                  </div>
                  <div class="download-box">
                    <a class="btn-download inb" href="javascript:void(0);">
                      <span class="icon inb"></span>
                    </a>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="video-title" id="showname"></div>
                  <p class="video-item">
                    <span>发布时间:</span>
                    <span class="date val" id="publishtime"></span>
                    <span>文件大小:</span>
                    <span class="f-size val" id="filesize">未知</span>
                    <span>视频语言:</span>
                    <span class="lang val">中文</span>
                  </p>
                  <p class="video-item">
                    <span>作者:</span>
                    <span class="author val">未知</span>
                  </p>

                  <p class="video-item">
                    <span>视频类型:</span>
                    <span class="video-type">
                      <span class="video-type-tag" id="category-0">游戏</span>
                      <span class="video-type-tag" id="category-1">动画</span>
                      <span class="video-type-tag" id="category-2">电影</span>
                      <span class="video-type-tag" id="category-3">美女</span>
                    </span>
                  </p>

                </div>
              </div>
              <div class="vr-video-bottom">
                <div class="vr-video-description">
                  <p class="title">视频描述</p>
                  <p class="content" id="description"></p>
                </div>
                <div class="vr-video-comment">
                  <p class="title">视频点评</p>
                  <div class="comment-main">
                    <textarea class="commment-body" id="tv-comment" name="comment"></textarea>
                    <div class="btn-group">
                      <input type="submit" value="发布" class="btn-publish">
                    </div>
                  </div>
                </div>
                <div class="comments-box" id="user-comments-box">
                  <div class="mask-loading">
                    <div class="loading-icon"></div>
                  </div>
                  <ul class="comments-list" id="c-comment-box">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="other-videos-box">
              <div class="other-videos-title">
                相关视频
              </div>
              <div id="other-video-aside">
                <div class="mask-loading">
                  <div class="loading-icon"></div>
                </div>
                <div class="other-video">
                  <a href="#">
                    <div class="other-video-icon">
                      <img src="#" class="img-responsive">
                    </div>
                    <p class="other-video-title">相关视频</p>                    
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="a-login-box">
      <form action="/v1/account_password_login.php" class="a-login-form" id="login-form">
        <p class="a-login-title">
          账号登陆
        </p>
        <p class="a-login-item">
          <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" placeholder="手机号" id="uname">
        </p>
        <p class="a-login-item">
          <input type="password" role-type="pass" name="pass" role-null="请输入密码" role-err="密码包含数字字母或者下划线，6~16位长度" class="inp" placeholder="密码" id="pass">
        </p>
        <p class="a-login-item">
          <input type="submit" value="登录" id="btn-login" class="btn-login">
        </p>
        <p class="a-login-item">
          没有账号?<a href="./register.html" class="register">免费注册</a>
        </p>
      </form>
    </div>
    <!--end of footer-->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/comment.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="http://media.qicdn.detu.com/@/sdk-1.2.0/sdk.js"></script>
    <script type="text/javascript">
      var vid="";
      var queryParam={};
      $(document).ready(function(){
        vid=Base.searchParam("vid","id");
        if(!vid){
          Base.showAlert("抱歉,你所查找的资源不存在","error");
          return;
        }else{
          queryParam.fileid=vid;
          //查询视频信息
          Base.queryData("/search/fileid","POST",{"fileid":vid},function(data){
            console.log(data);
            if(Base.isSuccess(data)&&data.list_result.length>0){
              var info=data.list_result[0];
              $("#category-"+info.category).css("display","inherit");
              $("#pic_url").attr("src",info.pic_url);
              if(info.filesize){
                $("#filesize").html(Math.floor(info.filesize/1024/1024)+"M");
              }
              $("#showname").html(info.showname);
              $("#description").html(info.description||"暂无");
              config.videos[0].video=info.http_url;
              detupano(config);
            }else{
              Base.showAlert(data.error_msg,"error");
            }
          },function(err){
             Base.showAlert(err,"error");
          });
          //查询相关视频
          Base.queryData("/search/category?offset=0&length=5","POST",{"category":"0"},function(data){
            if(Base.isSuccess(data)){
              if(data.list_result.length<1){
                  $(".other-video").css("display","none");
                  $("#other-video-aside").find(".mask-loading").fadeOut();
              }else{
                Base.handleResult("other-video-aside",data,
                {"childrenBox":".other-video",
                 "img":"img",
                "txt":".other-video-title",
                "href":"a"},
                {"img":"pic_url",
                "txt":"showname",
                "href":"url"});                
              }
            }else{
              Base.showAlert(data.error_msg,"error");
            }
          },function(err){
            Base.showAlert(err,"error");
          });
          comment.init({
              "query":"/vod/comment/fileId",
              "publish":"/vod/comment/vod",
              "reply":"/vod/comment/reply",
              "nameId":"fileid",
              "id":vid,
              "textArea":".commment-body"
          });
          comment.queryComment();
        }
      });

      var config = {
          target: "detu_container",
          islive: false,
          videos:[
            {name: "bq", txt: "标清", video: "http://media.qicdn.detu.com/@/68095950-956A-82A0-AC71-F66F23312713/2016-05-05/572aa0ac7f0d3-512x256.mp4", play: true}
          ],
          ready: function(pano){
              pano.gyro(true);
          }
      };
    </script>
  </body>
</html>