<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册成功</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .wrapper{
        background-image:url('../images/login/bg.png');
        background-size: cover;
        padding: 100px 0;
      }
      .register-box{
        margin: 20px auto;
        width: 450px;
        padding: 60px 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 2px #e6e6e6;
        text-align: center;
      }
      .register-box .title{
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ffd737;
      }
      .register-box .tips{
        line-height: 30px;
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="header-c">
        <div id="main-navbar" class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="logo" title="Start..." class="navbar-brand" href="#">
                      <img src="../images/common/logo1.png" alt="miaovr Logo">
                  </a>
                  <div class="clearfix"></div>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-left">
                      <li>
                          <a href="../index.html">首页</a>
                      </li>
                      <li>
                          <a href="./vrinfo.html">VR资讯</a>
                      </li>
                      <li>
                          <a href="./vrtv.html">VRTV</a>
                      </li>
                      <li>
                          <a href="./vrgame.html">VR游戏</a>
                      </li>
                      <li>
                          <a href="./community.html">VR社区</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="http://miaomiaotv.cn/index.html">
                          <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">客户端</p>
                        </a>
                      </li>
                      <li>
                        <a href="./upload.html">
                          <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">上传视频</p>
                        </a>
                      </li>
                      <li>
                        <a href="./history.html">
                          <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">历史观看</p>
                        </a>
                      </li>
                      <li class="choose">
                        <a href="#">
                          <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">登陆/注册</p>
                        </a>
                      </li>
                      <li class="search-i">
                        <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                          <span class="input-search-box">
                            <input type="text" name="search_txt" id="t-search" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" id="btn-search" class="btn-search">
                          </span>
                        </form>
                      </li>
                  </ul>
              </div>
              <!-- end of navbar-collapse -->
            </div>
            <!-- end of container-fluid -->
          </nav>
        </div>
      </div>
      <div class="header-bottom-line"></div>
    </div>   
    <div class="wrapper">
      <div class="register-box">
          <h2 class="title">恭喜您，注册成功</h2>
          <p class="tips">现在<a href="./login.html">登录</a>吧</p>
      </div>
    </div>
    <!--end of wrapper-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>