<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/register.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="header-c">
        <div id="main-navbar" class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="logo" title="Start..." class="navbar-brand" href="#">
                      <img src="../images/common/logo1.png" alt="miaovr Logo">
                  </a>
                  <div class="clearfix"></div>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-left">
                      <li>
                          <a href="../index.html">首页</a>
                      </li>
                      <li>
                          <a href="./vrinfo.html">VR资讯</a>
                      </li>
                      <li>
                          <a href="./vrtv.html">VRTV</a>
                      </li>
                      <li>
                          <a href="./vrgame.html">VR游戏</a>
                      </li>
                      <li>
                          <a href="./community.html">VR社区</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="http://miaomiaotv.cn/index.html">
                          <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">客户端</p>
                        </a>
                      </li>
                      <li>
                        <a href="./upload.html">
                          <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">上传视频</p>
                        </a>
                      </li>
                      <li>
                        <a href="./history.html">
                          <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">历史观看</p>
                        </a>
                      </li>
                      <li class="header-login">
                        <a href="./login.html">
                          <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">登陆/注册</p>
                        </a>
                      </li>
                      <li class="user-status">
                        <a href="./userCenter.html">
                          <img src="../images/common/default.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                          <span class="header-user-name"></span>
                        </a>
                      </li>  
                      <li class="search-i">
                        <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                          <span class="input-search-box">
                            <input type="text" name="search_txt" id="t-search" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" id="btn-search" class="btn-search">
                          </span>
                        </form>
                      </li>
                  </ul>
              </div>
              <!-- end of navbar-collapse -->
            </div>
            <!-- end of container-fluid -->
          </nav>
        </div>
      </div>
      <div class="header-bottom-line"></div>
    </div>   
    <div class="wrapper">
      <div class="register-box">
        <div class="row">
          <div class="col-sm-12">
            <form action="/v1/mobile_register.php" class="register-form" id="register-form">
              <p class="register-title">
                欢迎注册瞄瞄VR
              </p>
              <p class="register-item">
                <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" id="mobile" name="uname" placeHolder="手机号">
              </p>
              <p class="register-item">
                <input type="text" role-type="code" role-null="请输入验证码" role-err="验证码为六位数字" class="inp validate-code" name="code" id="code" placeHolder="验证码">
                <input type="button" class="btn-code" id="btn-send-code" value="获取验证码">
                <span class="seconds-count">60秒</span>
              </p>
              <p class="register-item">
                <input type="password" role-type="pass" name="pass" role-null="请输入密码" role-err="密码包含数字字母或者下划线，6~16位长度" class="inp" id="pass" placeHolder="登陆密码">
              </p>
              <p class="register-item">
                <input type="password" role-type="repass" role-repeat="pass" name="repass" role-null="请再次输入密码" role-err="两次密码输入不一致" class="inp" id="repass" placeHolder="确认密码">
              </p>
              <p class="register-item">
                <input type="checkbox" role-type="checkbox" id="agree" role-err="请确保已阅读并同意瞄瞄VR用户协议">
                <label for="agree" class="agree-label">
                  <span>我已阅读并同意</span>
                  <a href="#" class="register-deal">瞄瞄VR用户协议</a>
                </label>
                
              </p>
              <p class="register-item">
                <input type="submit" value="注册" class="btn-register" id="btn-register"/>
              </p>
              <p class="register-item">
                已有账号?<a href="./login.html" class="login">立即登陆</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--end of wrapper-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <a href="./vrinfo.html" class="col-sm-3 footer-menu">
                VR资讯
              </a>
              <a href="./vrtv.html" class="col-sm-3 footer-menu">
                VRTV
              </a>
              <a href="./vrgame.html" class="col-sm-3 footer-menu">
                VR游戏
              </a>
              <a href="./community.html" class="col-sm-3 footer-menu">
                VR社区
              </a>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(e) {
          RegisterValid.init("register-form");
      });     
    </script>
  </body>
</html>