<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <title>搜索结果</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/search.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="header-c">
        <div id="main-navbar" class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="logo" title="Start..." class="navbar-brand" href="#">
                      <img src="../images/common/logo1.png" alt="miaovr Logo">
                  </a>
                  <div class="clearfix"></div>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-left">
                      <li>
                          <a href="../index.html">首页</a>
                      </li>
                      <li>
                          <a href="./vrinfo.html">VR资讯</a>
                      </li>
                      <li>
                          <a href="./vrtv.html">VRTV</a>
                      </li>
                      <li>
                          <a href="./vrgame.html">VR游戏</a>
                      </li>
                      <li>
                          <a href="./community.html">VR社区</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="http://miaomiaotv.cn/index.html">
                          <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">客户端</p>
                        </a>
                      </li>
                      <li>
                        <a href="./upload.html">
                          <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">上传视频</p>
                        </a>
                      </li>
                      <li>
                        <a href="./history.html">
                          <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">历史观看</p>
                        </a>
                      </li>
                      <li class="header-login">
                        <a href="./login.html">
                          <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">登陆/注册</p>
                        </a>
                      </li>
                      <li class="user-status">
                        <a href="./userCenter.html">
                          <img src="../images/common/default.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                        </a>
                        <span class="arrow"></span>
                        <div class="user-hidden-box">
                          <span class="header-user-name inb"></span>
                          <p class="exit-box">
                            <a href="./userCenter.html">个人中心</a>
                            <span class="h-line"></span>
                            <a href="javascript:void(0);"class="exit">退出</a>
                          </p>
                        </div>
                      </li>
                      <li class="search-i">
                        <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                          <span class="input-search-box">
                            <input type="text" name="search_txt" id="t-search" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" id="btn-search" class="btn-search">
                          </span>
                        </form>
                      </li>
                  </ul>
              </div>
              <!-- end of navbar-collapse -->
            </div>
            <!-- end of container-fluid -->
          </nav>
        </div>
      </div>
      <div class="header-bottom-line"></div>
    </div>
    <!--end of header-->
    <div class="main">
      <div class="container container-white" id="game-c">
        <div class="container-title">VR游戏</div>
        <p class="tips">搜索结果:<span class="result-length">0</span>条</p>
          <ul id="game-list">
            <div class="mask-loading">
              <div class="loading-icon"></div>
            </div>
            <li class="game-item item">
              <a href="./vrgameDetails.html?game_id=" class="link">
                <span class="game-name"></span>
              </a>
              <p>
                <span class="s-label">语言:</span><span class="language"></span>
                <span class="s-label">硬件支持:</span><span class="hardware_support"></span>
                <span class="s-label">上传时间:</span><span class="upload_time"></span>
              </p>
            </li>
          </ul>
      </div>
      <!--end of container--> 
      <div class="container container-white" id="info-c">
        <div class="container-title">VR资讯</div>
        <p class="tips">搜索结果:<span class="result-length">0</span>条</p>
        <ul id="info-list">
          <div class="mask-loading">
            <div class="loading-icon"></div>
          </div>
          <li class="info-item item">
            <a href="./vrinfo.html?vid=" class="link">
              <p class="description"></p>
              <span class="s-label">点赞数:</span><span class="favor"></span>
              <span class="s-label">资源类型:</span><span class="isVod"></span>
            </a>
          </li>
        </ul>

      </div>
      <!--end of container-->
      <div class="container container-white" id="video-c">
        <div class="container-title">VR视频</div>
        <p class="tips">搜索结果:<span class="result-length">0</span>条</p>
        <ul id="tv-list">
          <div class="mask-loading">
            <div class="loading-icon"></div>
          </div>
          <li class="tv-item item">
            <a href="./playvr.html?vid=">
              <p class="showname"></p>
            </a>  
            <p class="description" role-limit="20"></p>
            <p>
              <span class="publishtime"></span>
              <span class="s-label">观看次数:</span><span class="views"></span>
              <span class="s-label">时长:</span><span class="duration"></span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <a href="./vrinfo.html" class="col-sm-3 footer-menu">
                VR资讯
              </a>
              <a href="./vrtv.html" class="col-sm-3 footer-menu">
                VRTV
              </a>
              <a href="./vrgame.html" class="col-sm-3 footer-menu">
                VR游戏
              </a>
              <a href="./community.html" class="col-sm-3 footer-menu">
                VR社区
              </a>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var search_param=window.location.search;
        var search_txt=Base.searchParam("search_txt","txt");
        console.log(search_txt);
        //模糊搜索游戏
        Base.excuteAjax("/game/name","POST",{"game_name":search_txt},function(data){
          console.log("搜索游戏");
          console.log(data);
          if(Base.isSuccess(data)){
            if(data.list_result.length>0){
              Base.handleResult("game-list",data,
              {"childrenBox":".game-item",
                "txt":".game-name",
                "txt-1":".language",
                "txt-2":".upload_time",
                "txt-3":".hardware_support",
                "href":"a"},
              {"txt":"game_name",
                "txt-1":"language",
                "txt-2":"upload_time",
                "txt-3":"hardware_support",
                "href":"gameId"});
              handleTips("game-list",data.list_result.length);
            }else{
              handleEmptyResult("game-list");
            }
          }else{
            handleEmptyResult("game-list");
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
          handleEmptyResult("game-list");
          Base.showAlert(err,"error");
          console.log(err);
        });
        //模糊搜索资讯
        Base.excuteAjax("/news/description","POST",{"description":search_txt},function(data){
          console.log("搜索资讯");
          console.log(data);
          if(Base.isSuccess(data)){
            if(data.list_result.length>0) {
              Base.handleResult("info-list",data,
              {"childrenBox":".info-item",
                "txt":".description",
                "txt-1":".favor",
                "txt-2":".isVod",
                "href":"a"},
              {"txt":".description",
                "txt-1":"favor",
                "txt-2":"isVod",
                "href":"newsId"});
              handleTips("info-list",data.list_result.length);
            }else{
              handleEmptyResult("info-list");
            }
          }else{
            handleEmptyResult("info-list");
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
          handleEmptyResult("info-list");
          Base.showAlert(err,"error");
          console.log(err);
        });
        //模糊搜索视频
        Base.excuteAjax("/search/showname","POST",{"showname":search_txt},function(data){
          console.log("搜索视频");
          console.log(data);
          if(Base.isSuccess(data)){
            if(data.list_result.length>0){
              Base.handleResult("tv-list",data,
              {"childrenBox":".tv-item",
                "txt":".showname",
                "txt-1":".description",
                "txt-2":".views",
                "txt-3":".duration",
                "href":"a"},
              {"txt":"showname",
                "txt-1":"description",
                "txt-2":"views",
                "txt-3":"duration",
                "href":"fileid"});
              handleTips("tv-list",data.list_result.length);
            }else{
              handleEmptyResult("tv-list");
            }
          }else{
            handleEmptyResult("tv-list");
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
          handleEmptyResult("tv-list");
          Base.showAlert(err,"error");
          console.log(err);
        });
      });
      function handleEmptyResult(id){
        $("#"+id).css("display","none");
      }
      function handleTips(id,len){
        $("#"+id).siblings(".tips").children(".result-length").html(len);
      }
    </script>
  </body>
</html>