<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我要上传</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/upload.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VR TV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li class="choose">
                      <a href="#">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <!-- end of main-navbar -->
    <div class="hor-line"></div>
    <div class="container">
      <div class="upload-box">
        <div class="banner">
          <img src="../images/upload/banner.png" alt="#" class="img-responsive">
        </div>
      </div>
    </div>
    <!--end of container-->
    <div class="container">
      <div class="upload-box">
        <ul class="upload-tabs">
          <li class="tab">
            <div class="tab-content">
              <div class="tab-icon">
                <img src="../images/upload/Picture.png" alt="#" class="img-responsive">
              </div>
              <div class="tab-btn-group">
                <input type="button" value="上传全景图片" class="btn" role-id="upload-picture"/>
              </div>
            </div>
          </li>
          <li class="tab" role-id="upload-video">
            <div class="tab-content">
              <div class="tab-icon">
                <img src="../images/upload/Media.png" alt="#" class="img-responsive">
              </div>
              <div class="tab-btn-group">
                <input type="button" value="上传全景图片" class="btn" role-id="upload-video"/>
              </div>
            </div>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="container upload-main" id="upload-picture">
        <div class="upload-box">
          <div class="upload-header">
            上传全景图片
          </div>
          <div class="upload-title">
            <input type="text" class="inp-title">
          </div>
          <div class="upload-content">
            <input type="button" class="upload-add">
          </div>
          <div class="upload-btn-group">
            <div class="row">
              <div class="col-sm-6">
                <input type="button" value="上传规则" class="btn btn-rule">
              </div>
              <div class="col-sm-6">
                <input type="button" value="立即发布" class="btn btn-publish">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container upload-main" id="upload-video">
        <div class="upload-box">
          <div class="upload-header">
            上传全景视频
          </div>
          <div class="upload-title">
            <input type="text" class="inp-title" placeHolder="请输入标题">
            <input type="button" value="视频类型" class="btn-video-type">
            <div class="video-type-box">
              <ul>
                <li  class="inb" role-type="1">
                  <img src="../images/upload/game.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="2">
                  <img src="../images/upload/cartoon.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="3">
                  <img src="../images/upload/film.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="4">
                  <img src="../images/upload/lady.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="5">
                  <img src="../images/upload/scenery.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="6">
                  <img src="../images/upload/thrill.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="7">
                  <img src="../images/upload/scare.png" class="img-responsive">
                </li>
                <li  class="inb" role-type="8">
                  <img src="../images/upload/music.png" class="img-responsive">
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="upload-content">
                <input type="button" class="upload-add">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="upload-description">
                <textarea class="description"></textarea>
              </div>
            </div>
          </div>
          <div class="upload-btn-group">
            <div class="row">
              <div class="col-sm-6">
                <input type="button" value="上传规则" class="btn btn-rule">
              </div>
              <div class="col-sm-6">
                <input type="button" value="立即发布" class="btn btn-publish">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $("#upload-video .btn-video-type").on("click",function(){
              $typeBox=$(".video-type-box");
              if($typeBox.css("display")==="none"){
                $(".video-type-box").fadeIn();
              }else{
                $(".video-type-box").fadeOut();
              }
          });
          $("#upload-video .video-type-box li").on("click",function(){
              $(".video-type-box").fadeOut();
          });
          $(".tab-btn-group .btn").on("click",function(){
            var id=$(this).attr("role-id");
            $("#"+id).css("display","block").siblings().css("display","none");
          });
      });
    </script>
  </body>
</html>