<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <title>个人中心</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/user-center.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VR TV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li class="header-login">
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="user-status">
                      <a href="javascript:void(0);">
                        <img src="../images/comDetails/user-icon.png" width=40 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                      </a>
                      <span class="arrow"></span>
                      <div class="user-hidden-box">
                        <span class="header-user-name inb"></span>
                        <p class="exit-box">
                          <a href="javascript:void(0);">个人中心</a>
                          <span class="h-line"></span>
                          <a href="javascript:void(0);"class="exit">退出</a>
                        </p>
                      </div>
                    </li>
                    <li class="search-i">
                      <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                        <span class="input-search-box">
                          <input type="text" name="search_txt" id="t-search" class="input-search">
                        </span><span class="btn-search-box">
                          <input type="submit" value="搜索" id="btn-search" class="btn-search">
                        </span>
                      </form>
                    </li>
                </ul>

            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>    
    <div class="container">
      <div class="mask-loading" id="w">
        <div class="loading-icon"></div>
      </div>
      <div class="user-center-box">
        <div class="user-header">
          <h3>个人中心</h3>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <ul class="aside-menu">
              <li class="menu-basic menu cur" role-page="aside-page-1">
                <i class="inb icon"></i>
                <span class="name">个人信息</span>
              </li>
              <li class="menu-message menu" role-page="aside-page-2">
                <i class="inb icon"></i>
                <span class="name">消息中心</span>
              </li>
              <li class="menu-score menu" role-page="aside-page-3">
                <i class="inb icon"></i>
                <span class="name">积分中心</span>
              </li>
            </ul>
          </div>
          <div class="col-sm-10">
            <div class="aside-page cur" id="aside-page-1">
              <ul class="tabs">
                <li class="tab inb choose" role-page="basic-page-1">
                  <span>基本资料</span>
                </li>
                <li class="tab inb" role-page="basic-page-2">
                  <span>修改头像</span>
                </li>
                <li class="tab inb" role-page="basic-page-3">
                  <span>修改密码</span>
                </li>
                <li class="tab inb" role-page="basic-page-4">
                  <span>修改昵称</span>
                </li>
                <!-- <li class="tab inb" role-page="basic-page-5">
                  <span>修改手机</span>
                </li> -->
              </ul>
              <div class="tab-pages">
                <div class="page active-page" id="basic-page-1">
                  <div class="user-basic">
                    <div class="user-icon">
                      <img id="thumb_avatar" src="../images/userCenter/user-icon.png" class="img-responsive" onerror="userImgErr(this)">
                    </div>
                    <div class="info">
                      <p class="info-item info-name">
                        <span class="user-name" id="nickname">瞄女郎</span>
                        <span class="edit-name" id="edit-nickname-b">
                          <i class="icon inb"></i>
                          <span>修改昵称</span>
                        </span>
                      </p>
                      <p class="info-item sex-item">
                        <label for="user-sex" class="label-sex">性别:</label>
                        <span id="user-sex">未知</span>
                        <span class="edit-sex inb" id="edit-sex-b"></span>
                         <span class="radio-group">
                          <input type="radio" name="sex" id="sex-man" value="男">
                          <label for="sex-man" class="lb">男</label>
                          <input type="radio" name="sex" id="sex-women" value="女">
                          <label for="sex-women" class="lb">女</label>
                          <input type="button" class="btn btn-edit-sex" value="确定">
                          <input type="button" class="btn btn-cancel-sex" value="取消">
                         </span> 
                      </p>
                      <p class="info-item info-date">
                        <span>注册时间:</span>
                        <span class="date">2016-8-8 12:12</span>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                    <!-- <div class="validate-box">
                      <div class="mobile v-item">
                        <div class="v-body">
                          <div class="content">
                            <div class="validate-icon">
                            </div>
                            <div class="validate-r">
                              <p class="validate-result">手机未验证</p>
                              <input type="button" class="btn-auth"/>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="tips">
                            注:未认证手机无法下载相关资源
                          </div>
                        </div>
                      </div>
                      <div class="mail v-item">
                        <div class="v-body">
                          <div class="content">
                            <div class="validate-icon">
                            </div>
                            <div class="validate-r">
                              <p class="validate-result">邮箱未验证</p>
                              <input type="button" class="btn-auth"/>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="tips">
                            注:未认证邮箱无法下载相关资源
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div> -->
                </div>
                <div class="page" id="basic-page-2">
                  <div class="edit-icon-box edit-box">
                    <div class="current-icon">
                      <img src="../images/userCenter/user-icon.png" id="upload_avatar" class="img-responsive" onerror="userImgErr(this)">
                    </div>
                    <div class="edit-area">
                    <form id="fileupload" action="http://api.app.miaomiaotv.cn/v1/account_avatar.php" enctype="multipart/form-data" method="POST">
                      <span class="btn btn-success fileinput-button">
                          <i class="glyphicon glyphicon-plus"></i>
                          <span>选择图片</span>
                          <input type="hidden" name="access_token" id="access_token">
                          <input type="file" name="avatar[]" multiple>
                      </span>
                      <div id="add-file">
                        <span class="file-name"></span>
                        <span class="file-size"></span>
                        <span class="file-type"></span>
                        <input class="file-btn" type="button" id="btn-upload" value="上传"/>
                        <input class="file-btn" type="button" id="btn-delete" value="删除"/>
                      </div>
                      <p class="file-upload-progress"></p>
                   </form>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="page" id="basic-page-3">
                  <div class="change-pass-box edit-box">
                    <form action="/v1/account_password_modify.php" id="form-change-pass">
                      <p class="form-item">
                        <label>当前密码</label>
                        <input type="password" role-type="pass" id="origin-pass" role-null="请输入当前密码" role-err="密码格式错误" class="inp" name="origin_password">
                      </p>
                      <p class="form-item">
                        <label>新密码</label>
                        <input type="password" role-type="pass" id="new-pass" role-null="请输入新密码" role-err="密码格式错误" class="inp" id="password" name="password">
                      </p>
                      <p class="form-item">
                        <label>确认密码</label>
                        <input type="password" role-repeat="new-pass" id="new-repass" role-type="repass" role-null="请重新输入新密码" role-err="密码输入不一致" class="inp" name="repeat-password">
                      </p>
                      <p class="form-item">
                        <input type="submit" role-load="修改中..." role-nor="确认修改" role-type="submit" class="btn" value="确认修改">
                      </p>
                    </form>
                  </div>
                </div>
                <div class="page" id="basic-page-4">
                  <div class="edit-nickname-box edit-box">
                    <form action="/v1/account_nickname.php" id="form-edit-nickname">
                      <p class="form-item cur-nickname">
                        <label>当前昵称</label>
                        <span id="cur-nickname"></span>
                      </p>
                      <p class="form-item edit-nickname">
                        <label>新昵称</label>
                        <input type="text" role-type="nickname" role-null="请输入昵称" role-err="昵称包含数字字母或者中文" class="inp" id="new-nickname" name="nickname">
                      </p>
                      <p class="form-item">
                        <input type="submit" role-type="submit" role-load="修改中..." role-nor="确认修改" class="btn" value="确认修改">
                      </p>
                      <p class="form-item tip" style="color:#ff8b3d;display:none;">
                        说明:每个用户只能修改一次昵称!
                      </p>
                    </form>
                  </div>
                </div>
                <div class="page" id="basic-page-5">
                  <div class="edit-phone-box edit-box">
                    <form action="" id="form-edit-phone">
                      <p class="form-item">
                        <label>当前手机</label>
                        <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" id="mobile">
                        <input type="button" class="send-code" id="btn-send-code" value="发送验证码">
                        <span class="seconds-count" id="seconds-count">60秒</span>
                      </p>
                      <p class="form-item edit-nickname">
                        <label>短信验证码</label>
                        <input type="text" role-type="code" role-null="请输入验证码" role-err="验证码为六位数字" class="inp" name="code">
                      </p>
                      <p class="form-item">
                        <input type="submit" role-type="submit" class="btn" value="下一步">
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="aside-page" id="aside-page-2">
              <ul class="tabs">
                <li class="tab inb choose" role-page="message-page-1">
                  <span>系统消息</span>
                </li>
                <li class="tab inb" role-page="message-page-2">
                  <span>聊聊</span>
                </li>
              </ul>
              <div class="tab-pages">
                <div class="page active-page" id="message-page-1">
                  <div class="mask-loading">
                      <div class="loading-icon"></div>
                  </div>
                  <ul class="message-sys message-list">
                    <li class="message-item">
                      <span class="message-icon inb"></span>
                      <span class="message-author">瞄瞄团队</span>
                      <span class="message-title"></span>
                      <span class="message-date"></span>
                    </li>
                  </ul>
                </div>
                <div class="page" id="message-page-2">
                  <div class="mask-loading">
                      <div class="loading-icon"></div>
                  </div>
                  <ul class="message-list">
                    <li class="message-item">
                      <span class="message-icon inb"></span>
                      <span class="message-author"></span>
                      <span class="message-title"></span>
                      <span class="message-date"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="aside-page" id="aside-page-3">
              <ul class="tabs">
                <li class="tab inb choose query-score" role-page="score-page-1">
                  <span>查询积分</span>
                </li>
                <li class="tab inb" role-page="score-page-2">
                  <span>积分规则</span>
                </li>
              </ul>
              <div class="tab-pages">
                <div class="page active-page" id="score-page-1">
                  <div class="mask-loading">
                      <div class="loading-icon"></div>
                  </div>
                  <p class="score-tips">已有积分</p>
                  <p class="score" id="user-score">0</p>
                </div>
                <div class="page" id="score-page-2">    
                  <ul class="score-rule">
                    <li>1.每日签到+20积分</li>
                    <li>2.发布一篇帖子+50积分</li>
                    <li>1.每获10人评论+50积分</li>
                  </ul>            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/jquery.ui.widget.js"></script>
    <script src="../js/jquery.fileupload.js"></script>
    <script src="../js/jquery.fileupload-ui.js"></script>
    <script src="../js/jquery.iframe-transport.js"></script>
    <script src="../js/jquery.fileupload-process.js"></script>
    <script src="../js/jquery-upload-config.js"></script>
    <script src="../js/userCenter.js"></script>
    <script src="../webim/angular.js"></script> 
    <script src="../webim/RongIMWidget.js"></script> 
    <script src="http://cdn.ronghub.com/RongIMLib-2.2.4.min.js"></script> 
    <script type="text/javascript">
      function initMessage(){
        RongIMClient.init("0vnjpoadnwlpz");
        RongIMClient.connect($.cookie("IM_token"), {
          onSuccess: function(userId) {
            console.log(RongIMLib.ConversationType);
            //查询系统消息
            RongIMClient.getInstance().getHistoryMessages(RongIMLib.ConversationType.SYSTEM,userId, null, 20, {
              onSuccess: function(list, hasMsg) {
                   console.log("history list");
                   console.log(list);
                   handleMessage("message-page-1",list);
              },
              onError: function(error) {
                   var $sysMsg=$("#message-page-1");
                   $sysMsg.find(".mask-loading").fadeOut();
                   $sysMsg.find(".message-list").css("display","none");
              }
            });
            RongIMClient.getInstance().getHistoryMessages(RongIMLib.ConversationType.PRIVATE,userId, null, 20, {
              onSuccess: function(list, hasMsg) {
                   console.log("history list");
                   console.log(list);
                   handleMessage("message-page-2",list);
              },
              onError: function(error) {
                   var $sysMsg=$("#message-page-2");
                   $sysMsg.find(".mask-loading").fadeOut();
                   $sysMsg.find(".message-list").css("display","none");
              }
            });
          },
          onTokenIncorrect: function() {
            console.log('token无效');
          },
          onError:function(errorCode){
                var info = '';
                switch (errorCode) {
                  case RongIMLib.ErrorCode.TIMEOUT:
                    info = '超时';
                    break;
                  case RongIMLib.ErrorCode.UNKNOWN_ERROR:
                    info = '未知错误';
                    break;
                  case RongIMLib.ErrorCode.UNACCEPTABLE_PaROTOCOL_VERSION:
                    info = '不可接受的协议版本';
                    break;
                  case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:
                    info = 'appkey不正确';
                    break;
                  case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:
                    info = '服务器不可用';
                    break;
                }
                console.log(errorCode);
                Base.showAlert(errorCode,"error");
              }
        });
        RongIMClient.setConnectionStatusListener({
          onChanged: function (status) {
              switch (status) {
                case RongIMLib.ConnectionStatus.CONNECTED:
                    console.log('链接成功');
                    break;
                case RongIMLib.ConnectionStatus.CONNECTING:
                    console.log('正在链接');
                    break;
                case RongIMLib.ConnectionStatus.DISCONNECTED:
                    console.log('断开连接');
                    break;
                case RongIMLib.ConnectionStatus.KICKED_OFFLINE_BY_OTHER_CLIENT:
                    console.log('其他设备登录');
                    break;
                case RongIMLib.ConnectionStatus.NETWORK_UNAVAILABLE:
                  console.log('网络不可用');
                  break;
                }
          }});
      RongIMClient.setOnReceiveMessageListener({
        onReceived: function (message) {
          switch(message.messageType){
              case RongIMClient.MessageType.TextMessage:
                  console.log(message.content.content);
                  break;
              case RongIMClient.MessageType.VoiceMessage:
                  RongIMLib.RongIMVoice.preLoaded(message.content.content);
                  break;
              case RongIMClient.MessageType.ImageMessage:
                  break;
              case RongIMClient.MessageType.DiscussionNotificationMessage:
                  break;
              case RongIMClient.MessageType.LocationMessage:
                  break;
              case RongIMClient.MessageType.RichContentMessage:
                  break;
              case RongIMClient.MessageType.DiscussionNotificationMessage:
                  break;
              case RongIMClient.MessageType.InformationNotificationMessage:
                  break;
              case RongIMClient.MessageType.ContactNotificationMessage:
                  break;
              case RongIMClient.MessageType.ProfileNotificationMessage:
                  break;
              case RongIMClient.MessageType.CommandNotificationMessage:
                  break;
              case RongIMClient.MessageType.CommandMessage:
                  break;
              case RongIMClient.MessageType.UnknownMessage:
                  break;
              default:
            }
          }
        });

      }
      function handleMessage(parentTd,data){
          var parentBox=$("#"+parentTd);
          var messageItems=parentBox.find(".message-item");
          if(parentBox.length>0){
            var message=null;
            var item=null;
            if(data.length<1){
              parentBox.find(".message-list").css("display","none");
            }
            for(var i=0,j=data.length;i<j;i++){
              message=data[i];
              if(messageItems.length<=i){
                item=$(messageItems[i-1]).clone();
                item.appendTo(parentBox.find(".message-list"));
              }else{
                item=$(messageItems[i]);
              }
              item.find(".message-author").html(message.senderUserId);
              item.find(".message-title").html(message.content.content);
              item.find(".message-date").html(Base.formatDate(message.sentTime));
            }
            parentBox.find(".mask-loading").fadeOut();
          }
      }
    </script>
  </body>
</html>