<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR游戏详情</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/vrgame-details.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li class="choose">
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <!-- end of main-navbar -->
    <div class="hor-line"></div>
    <!--end of container-->
    <div class="vr-game-info">
      <div class="game-basic">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="vr-game-icon"></div>
            </div>
            <div class="col-sm-6">
              <div class="game-header">
                <span class="game-title">智能危机</span>
                <span class="os-icon apple"></span>
                <span class="os-icon android"></span>
                <span class="os-icon pc"></span>
              </div>
              <p class="game-item">
                <span>发布时间:</span>
                <span class="date val">2016-7-11</span>
                <span>文件大小:</span>
                <span class="f-size val">333M</span>
                <span>应用语言:</span>
                <span class="lang val">中文</span>
              </p>
              <p class="game-item">
                <span>开发商:</span>
                <span class="author val">未知</span>
                <span>移动版本:</span>
                <span class="author val">steamVR</span>
              </p>
              <p class="game-item">
                <span>硬件支持:</span>
                <span class="author val">HTC Vive</span>
              </p>
              <p class="game-item">
                <span>控制外设:</span>
                <span class="author val">HTC Vive</span>
              </p>
            </div>
            <div class="col-sm-3">
              <div class="download-box">
                <input type="button" value="免费下载" class="btn-download"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <ul class="vr-game-stars">
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
              </ul>
            </div>
            <div class="col-sm-9">
              <p class="game-item">
                <span>标签:</span>
                <span class="game-tags">
                  <span class="game-type-tag shoot"></span>
                  <span class="game-type-tag risk"></span>
                  <span class="game-type-tag scene"></span>
                  <span class="game-type-tag building"></span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="vr-game-slider">
        <div class="container" id="banner">
          <ul>
            <li>
              <img src="../images/index/banner-01.jpg" alt="banner-01" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-02.jpg" alt="banner-02" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-03.jpg" alt="banner-03" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-04.jpg" alt="banner-04" width="100%" height="auto" class="img-responsive"></li>
          </ul>
          <a href="javascript:void(0);" class="unslider-arrow04 prev">
            <img class="arrow" id="al" src="../images/index/arrowl.png" alt="prev" width="20" height="35"></a>
          <a href="javascript:void(0);" class="unslider-arrow04 next">
            <img class="arrow" id="ar" src="../images/index/arrowr.png" alt="next" width="20" height="37"></a>
        </div>
    </div>
    <!--end of vr-game-slider-->
    <div class="container container-white">
      <div class="row">
        <div class="col-sm-9">
          <div class="vr-game-basic">
            <div class="vr-game-description">
              <p class="title">应用描述</p>
              <p class="content">视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述视频描述</p>
            </div>
            <div class="vr-game-comment">
              <p class="title">应用点评</p>
              <form action="#">
                <textarea class="commment-body"></textarea>
                <div class="btn-group">
                  <input type="submit" value="发布" class="btn-publish">
                </div>
              </form>
            </div>
            <div class="comments-box">
              <ul class="comments-list">
                <li class="comment-item">
                  <div class="user-icon"></div>
                  <div class="comment-main">
                    <div class="user-info">
                      <span class="user-name">哈哈</span>
                      <span class="floor">23#</span>
                    </div>
                    <div class="user-comment">
                      很好玩,有木有
                    </div>
                  </div>
                  <div class="reply-box">
                     <input type="button" class="btn-reply" value="回复"/> 
                  </div>
                </li>
                <li class="comment-item">
                  <div class="user-icon"></div>
                  <div class="comment-main">
                    <div class="user-info">
                      <span class="user-name">哈哈</span>
                      <span class="floor">23#</span>
                    </div>
                    <div class="user-comment">
                      很好玩,有木有
                    </div>
                  </div>
                  <div class="reply-box">
                     <input type="button" class="btn-reply" value="回复"/> 
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="other-games-box">
            <div class="other-games-title">
              相关应用
            </div>
            <div class="other-game">
              <div class="other-game-icon"></div>
              <p class="other-game-title">相关应用</p>
            </div>
            <div class="other-game">
              <div class="other-game-icon"></div>
              <p class="other-game-title">相关应用</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/unslider.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
      $(document).ready(function(e) {
        var unslider= $('#banner').unslider({
          dots: true
        }),
        data04 = unslider.data('unslider');
        $('.unslider-arrow04').click(function() {
              var fn = this.className.split(' ')[1];
              data04[fn]();
          });
      });
      $("#banner").width($("#banner").width()-30);
      var search_param=window.location.search;
      var game_id=null;
      if(search_param.match(/(game_id=)[a-z0-9A-Z]+/g)){
        var search_arr=search_param.slice(1).split("&");
        for(var i=0,j=search_arr.length;i<j;i++){
          if(search_arr[i].indexOf("game_id")>=0){
            game_id=search_arr[i].split("=")[1];
            i=j;
          }
        }
      }
      if(game_id){
        Base.queryData("/game/"+game_id,null,null,function(data){
            if(Base.isSuccess(data)){
              console.log(data);
            }
          },function(err){
            console.log(err);
          });
      }
    </script>
  </body>
</html>