<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR游戏详情</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/vrgame-details.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li class="choose">
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li class="header-login">
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="user-status">
                      <a href="./userCenter.html">
                        <img src="../images/comDetails/user-icon.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                      </a>
                      <span class="arrow"></span>
                      <div class="user-hidden-box">
                        <span class="header-user-name inb"></span>
                        <p class="exit-box">
                          <a href="./userCenter.html">个人中心</a>
                          <span class="h-line"></span>
                          <a href="javascript:void(0);"class="exit">退出</a>
                        </p>
                      </div>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <!-- end of main-navbar -->
    <div class="hor-line"></div>
    <!--end of container-->
    <div class="vr-game-info">
      <div class="mask-loading">
        <div class="loading-icon"></div>
      </div>
      <div class="game-basic">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="vr-game-icon"></div>
            </div>
            <div class="col-sm-6">
              <div class="game-header">
                <span class="game-title" id="game_name"></span>
                <span class="os-icon apple"></span>
                <span class="os-icon android"></span>
                <span class="os-icon pc"></span>
              </div>
              <p class="game-item">
                <span>发布时间:</span>
                <span class="date val" id="upload_time"></span>
                <span>文件大小:</span>
                <span class="f-size val" id="game_size">未知</span>
                <span>应用语言:</span>
                <span class="lang val" id="language">中文</span>
              </p>
              <p class="game-item">
                <span>开发商:</span>
                <span class="author val" id="developers">未知</span>
                <span>移动版本:</span>
                <span class="author val">暂无</span>
              </p>
              <p class="game-item">
                <span>硬件支持:</span>
                <span class="author val" id="hardware_support"></span>
              </p>
             <!--  <p class="game-item">
                <span>控制外设:</span>
                <span class="author val" id="control_of_peripherals">HTC Vive</span>
              </p> -->
            </div>
            <div class="col-sm-3">
              <div class="download-box">
                <a href="#" class="btn-download" id="download_url">免费下载</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <ul class="vr-game-stars">
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
                <li class="star"><img src="../images/vrgameDetails/star.png" alt=""/></li>
              </ul>
            </div>
            <div class="col-sm-9">
              <p class="game-item">
                <span class="inb">标签:</span>
                <span class="game-tags inb" id="game_tag">
                  <span class="game-type-tag" id="tag-0">养成</span>
                  <span class="game-type-tag" id="tag-1">场景体验</span>
                  <span class="game-type-tag" id="tag-2">运动冒险</span>
                  <span class="game-type-tag" id="tag-3">格斗</span>
                  <span class="game-type-tag" id="tag-4">动作</span>
                  <span class="game-type-tag" id="tag-5">射击</span>
                  <span class="game-type-tag" id="tag-6">角色扮演</span>
                  <span class="game-type-tag" id="tag-7">策略</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="vr-game-slider">
        <div class="container" id="banner">
          <ul>
            <li>
              <img src="../images/index/banner-01.jpg" alt="banner-01" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-02.jpg" alt="banner-02" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-03.jpg" alt="banner-03" width="100%" height="auto" class="img-responsive"></li>
            <li>
              <img src="../images/index/banner-04.jpg" alt="banner-04" width="100%" height="auto" class="img-responsive"></li>
          </ul>
          <a href="javascript:void(0);" class="unslider-arrow04 prev">
            <img class="arrow" id="al" src="../images/index/arrowl.png" alt="prev" width="20" height="35"></a>
          <a href="javascript:void(0);" class="unslider-arrow04 next">
            <img class="arrow" id="ar" src="../images/index/arrowr.png" alt="next" width="20" height="37"></a>
        </div>
    </div>
    <!--end of vr-game-slider-->
    <div class="container container-white">
      <div class="row">
        <div class="col-sm-9">
          <div class="vr-game-basic">
            <div class="vr-game-description">
              <p class="title">应用描述</p>
              <p class="content" id="game_description"></p>
            </div>
            <div class="vr-game-comment">
              <p class="title">应用点评</p>
              <div class="comment-main">
                <textarea class="commment-body"></textarea>
                <div class="btn-group">
                  <input type="submit" value="发布" class="btn-publish">
                </div>
              </div>
            </div>
            <div class="comments-box">
              <ul class="comments-list" id="c-comment-box">
              </ul>
              <div class="pagination-box" id="pagination"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="other-games-box">
            <div class="other-games-title">
              相关应用
            </div>
            <div class="other-game">
              <div class="other-game-icon"></div>
              <p class="other-game-title">相关应用</p>
            </div>
            <div class="other-game">
              <div class="other-game-icon"></div>
              <p class="other-game-title">相关应用</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="a-login-box">
      <form action="/v1/account_password_login.php" class="a-login-form" id="login-form">
        <p class="a-login-title">
          账号登陆
        </p>
        <p class="a-login-item">
          <input type="text" role-type="mobile" role-null="请输入手机号" role-err="请检查手机号码格式" class="inp" placeholder="手机号" id="uname">
        </p>
        <p class="a-login-item">
          <input type="password" role-type="pass" name="pass" role-null="请输入密码" role-err="密码包含数字字母或者下划线，6~16位长度" class="inp" placeholder="密码" id="pass">
        </p>
        <p class="a-login-item">
          <input type="submit" value="登录" id="btn-login" class="btn-login">
        </p>
        <p class="a-login-item">
          没有账号?<a href="./register.html" class="register">免费注册</a>
        </p>
      </form>
    </div>
    <!--end of footer-->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/unslider.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/comment.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="../js/jPages.min.js"></script>
    <script type="text/javascript">
      var queryParam={};
      var hardwareObj={
        "0":"HTC Vive",
        "1":"Oculus Rift",
        "2":"PS VR",
        "3":"Mobile VR"
      };
      var languageObj={
        "0":"中文",
        "1":"英语",
        "2":"日语",
        "3":"其他"
      };
      $(document).ready(function(e) {
        Base.initHeaderUser();
        var unslider= $('#banner').unslider({
          dots: true
        }),
        data04 = unslider.data('unslider');
        $('.unslider-arrow04').click(function() {
              var fn = this.className.split(' ')[1];
              data04[fn]();
          });
      });
      $("#banner").width($("#banner").width()-30);
      var search_param=window.location.search;
      game_id=game_id=Base.searchParam("game_id","id");
      if(!game_id){
        Base.showAlert("抱歉,你所查找的资源不存在","error");
      }else{
        queryParam.gameId=game_id;
        Base.queryData("/game/id","POST",{"gameId":game_id},function(data){
          console.log(data);
          if(Base.isSuccess(data)){
            var game=data.list_result[0];
            if(game){
              $("#game_name").html(game.game_name);
              $("#game_description").html(game.game_description||"暂无");
              //$("#control_of_peripherals").html(game.control_of_peripherals);
              $("#hardware_support").html(game.hardware_support);
              var _language=game.language;
              if(_language){
                var a1=_language.split(",");
                var language_txt="";
                for(var i=0;i<a1.length;i++){
                  if(languageObj[a1[i]]){
                    language_txt+=languageObj[a1[i]]+",";
                  }
                }
                $("#language").html(language_txt.slice(0,language_txt.length-1));
              }

              var _hardware_support=game.hardware_support;
              if(_hardware_support){
                var a2=_hardware_support.split(",");
                var hardware_support_txt="";
                for(var i=0;i<a2.length;i++){
                  if(hardwareObj[a2[i]]){
                    hardware_support_txt+=hardwareObj[a2[i]]+",";
                  }
                }
                $("#hardware_support").html(hardware_support_txt.slice(0,hardware_support_txt.length-1));
              }
              var _game_tag=game.game_tag;
              if(_game_tag){
                var a3=_game_tag.split(",");
                for(var i=0;i<a3.length;i++){
                  $("#tag-"+a3[i]).css("display","inherit");
                }
              }
              if(game.download_url){
                $("#download_url").attr("href",game.download_url);
              }
              comment.init({
                "query":"/game/comment/gameId",
                "publish":"/game/comment/save",
                "reply":"/game/comment/reply",
                "nameId":"gameId",
                "id":game_id,
                "textArea":".commment-body"
              });
              var comments=game.gameComments;
              if(comments.length>0){
                $(".pagination-box").css("display","block");
                comment.displayData(comments);
              }
              $(".mask-loading").fadeOut();
            }
          }else{
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
          Base.showAlert(err,"error");
          console.log(err);
        });
      }
    </script>
  </body>
</html>