<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <title>VR 游戏</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/vrgame.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="header-c">
        <div id="main-navbar" class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a id="logo" title="Start..." class="navbar-brand" href="#">
                      <img src="../images/common/logo1.png" alt="miaovr Logo">
                  </a>
                  <div class="clearfix"></div>
              </div>
              <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                  <ul class="nav navbar-nav navbar-left">
                      <li>
                          <a href="../index.html">首页</a>
                      </li>
                      <li>
                          <a href="./vrinfo.html">VR资讯</a>
                      </li>
                      <li>
                          <a href="./vrtv.html">VRTV</a>
                      </li>
                      <li class="choose">
                          <a href="#">VR游戏</a>
                      </li>
                      <li>
                          <a href="./community.html">VR社区</a>
                      </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="http://miaomiaotv.cn/index.html">
                          <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">客户端</p>
                        </a>
                      </li>
                      <li>
                        <a href="./upload.html">
                          <img src="../images/common/upload.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">上传视频</p>
                        </a>
                      </li>
                      <li>
                        <a href="./history.html">
                          <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">历史观看</p>
                        </a>
                      </li>
                      <li class="header-login">
                        <a href="./login.html">
                          <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                          <p class="nav-r-name">登陆/注册</p>
                        </a>
                      </li>
                      <li class="user-status">
                        <a href="./userCenter.html">
                          <img src="../images/common/default.png" width=50 alt="用户头像" class="img-responsive header-user-icon inb" onerror="userImgErr(this)">
                        </a>
                        <span class="arrow"></span>
                        <div class="user-hidden-box">
                          <span class="header-user-name inb"></span>
                          <p class="exit-box">
                            <a href="./userCenter.html">个人中心</a>
                            <span class="h-line"></span>
                            <a href="javascript:void(0);"class="exit">退出</a>
                          </p>
                        </div>
                      </li>
                      <li class="search-i">
                        <form class="form-search" action="./search.html" onSubmit="return searchConfirm();">
                          <span class="input-search-box">
                            <input type="text" name="search_txt" id="t-search" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" id="btn-search" class="btn-search">
                          </span>
                        </form>
                      </li>
                  </ul>
              </div>
              <!-- end of navbar-collapse -->
            </div>
            <!-- end of container-fluid -->
          </nav>
        </div>
      </div>
      <div class="header-bottom-line"></div>
    </div>
    <!-- end of main-navbar -->
    <div class="hor-line"></div>
    <div class="container container-white">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <a href="javascript:void(0);" class="vr-category-link img-left">
            <img src="../images/vrgame/HTC-Vive.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="javascript:void(0);" class="vr-category-link">
            <img src="../images/vrgame/Oculus-Rift.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="javascript:void(0);" class="vr-category-link">
            <img src="../images/vrgame/sony-ps-VR.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="javascript:void(0);" class="vr-category-link img-right">
            <img src="../images/vrgame/Mobile-VR.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
      </div>  
    </div>
    <!--end of container-->
    <div class="container container-white vr">
      <div class="container-title">VR 游戏推荐</div>
        <div class="row row-vr" id="game-recommend-box" role-mn="7">
          <div class="mask-loading">
            <div class="loading-icon"></div>
          </div>
          <div class="col-sm-2 col-sm-40 recommed-item">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-big.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-60">
            <div class="row row-pb-10">
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
              <div class="col-sm-4 recommed-item">
                <a href="./vrgameDetails.html?game_id=">
                  <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
                  <p class="title"></p>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--end of container--> 
    <div class="container banner-box">
      <img src="../images/vrgame/banner.png" class="img-responsive">
    </div>
    <div class="container container-white">
      <div class="container-title">VR 游戏精选</div>
      <div id="game-selection-box" role-mn="10">
        <div class="mask-loading">
          <div class="loading-icon"></div>
        </div>
        <div class="row row-vr">
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
        </div>
        <div class="row row-vr">
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./vrgameDetails.html?game_id=">
              <img src="../images/vrgame/image-small.png" alt="image" class="img-responsive"/>
              <p class="title"></p>
            </a>
          </div>
        </div>
        
      </div>
    </div>
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        Base.initHeaderUser();
        Base.isLogin();
        //游戏推荐
        Base.excuteAjax("/game/recommend",null,null,function(data){
          if(Base.isSuccess(data)){
            Base.handleResult("game-recommend-box",data,
            {"childrenBox":".recommed-item",
              "txt":".title",
              "href":"a"},
            {"txt":"game_name",
              "href":"gameId"});
          }
        },function(err){
          console.log(err);
        });
        //游戏精选
        Base.excuteAjax("/game/selection",null,null,function(data){
          if(Base.isSuccess(data)){
            if(data.list_result.length<6){
              $("#game-selection-box .row-vr").eq(1).remove();
              $("#game-selection-box").attr("role-mn",5);
            }
            Base.handleResult("game-selection-box",data,
            {"childrenBox":".col-sm-2",
              "txt":".title",
              "href":"a"},
            {"txt":"game_name",
              "href":"gameId"});
          }
        },function(err){
          console.log(err);
        });
      });
    </script>
  </body>
</html>