<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR资讯</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/vrinfo.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li class="choose">
                        <a href="#">VR资讯</a>
                    </li>
                    <li>
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div>
    <div class="hor-y-line"></div>
    <div class="wrapper">
      <div class="container">
        <ul clsss="vr-info-list" id="main-list">
          <div class="mask-loading">
            <div class="loading-icon"></div>
          </div>
        </ul>
        <div class="btn-load-box">
          <input type="button" value="加载更多" id="btn-load" class="btn">
        </div>
      </div>
      <!--end of container-->
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var off=0;
      var len=10;
      $(document).ready(function(){
        vid=Base.searchParam("vid","id");
        if(vid){
          $(".btn-load-box").css("display","none");
         querySingleVrInfo();
        }else{
          queryVrinfo(off);
          $("#btn-load").on("click",function(){
            loadMore();
          });
        }
      });
      function querySingleVrInfo(){
        Base.queryData("/news/newsId","POST",{"newsId":vid},function(data){
          console.log(data);
          if(Base.isSuccess(data)){
            handleItem(data);
          }else{
            Base.showAlert(data.error_msg,"error");
          }
        },function(err){
          console.log(err);
          Base.showAlert(err,"error");
        });
      }
      function queryVrinfo(offNum){
        Base.queryData("/news/all?offset="+offNum+"&limit="+len,null,null,function(data){
          if(Base.isSuccess(data)){
            if(data.list_result.length==0){
              $("#btn-load").val("已经到底部啦").off("click");
              return;
            }
            handleItem(data);
          }else{
            Base.showAlert(data.error_msg,"error");
          }
          finishLoadMore();
        },function(err){
          console.log(err);
          Base.showAlert(err,"error");
          finishLoadMore();
        });
      }
      function handleItem(data){
        var $parentBox=$("#main-list");
        var list=data.list_result;
        var temp_result=null;
        var temp_box=null;
        for (var i=0,j=list.length; i<j; i++){
          temp_result=list[i];
          temp_box=$("<li class='vr-info-item'></li>");
          $parentBox.append(temp_box);
          var _iframe=$("<iframe width='100%' height='100%' frameborder='no' marginheight='0' marginwidth='0' src='./detu.html?name="+temp_result.description+"&url="+temp_result.news_url+"'></iframe>");
           _iframe.appendTo(temp_box);
        }

        $parentBox.find(".mask-loading").fadeOut();
      }
      function loadMore(){
        off+=1;
        Base.setBtnDisabled("#btn-load").val("加载中...");
        queryVrinfo(off*len);
      }
      function finishLoadMore(){
        Base.setBtnEnabled("#btn-load").val("加载更多");
      }
    </script>
  </body>
</html>