<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VR TV 详情</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/vrtv-channel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div id="main-navbar" class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" title="Start..." class="navbar-brand" href="#">
                    <img src="../images/common/logo1.png" alt="miaovr Logo">
                </a>
                <div class="clearfix"></div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="./vrinfo.html">VR资讯</a>
                    </li>
                    <li class="choose">
                        <a href="./vrtv.html">VRTV</a>
                    </li>
                    <li>
                        <a href="./vrgame.html">VR游戏</a>
                    </li>
                    <li>
                        <a href="./community.html">VR社区</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="http://miaomiaotv.cn/index.html">
                        <img src="../images/common/mobile.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">客户端</p>
                      </a>
                    </li>
                    <li>
                      <a href="./upload.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">上传视频</p>
                      </a>
                    </li>
                    <li>
                      <a href="./history.html">
                        <img src="../images/common/history.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">历史观看</p>
                      </a>
                    </li>
                    <li>
                      <a href="./login.html">
                        <img src="../images/common/man.png" alt='' class="img-responsive nav-r-icon"/>
                        <p class="nav-r-name">登陆/注册</p>
                      </a>
                    </li>
                    <li class="search-i">
                        <form class="form-search">
                          <span class="input-search-box">
                            <input type="text" class="input-search">
                          </span><span class="btn-search-box">
                            <input type="submit" value="搜索" class="btn-search">
                          </span>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end of navbar-collapse -->
          </div>
          <!-- end of container-fluid -->
        </nav>
      </div>
    </div> 
    <div class="hor-y-line"></div>
    <!-- end of main-navbar -->
    <div class="hor-line"></div>
    <div class="container container-white">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=0" class="vr-category-link img-left">
            <img src="../images/vrtv/lady.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=5" class="vr-category-link">
            <img src="../images/vrtv/game.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=3" class="vr-category-link">
            <img src="../images/vrtv/film.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=2" class="vr-category-link img-right">
            <img src="../images/vrtv/katon.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
      </div>  
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=1" class="vr-category-link img-left">
            <img src="../images/vrtv/fj.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=6" class="vr-category-link">
            <img src="../images/vrtv/js.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=4" class="vr-category-link">
            <img src="../images/vrtv/jx.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="./vrtvChannel.html?category=7" class="vr-category-link img-right">
            <img src="../images/vrtv/music.png" alt="image" class="img-responsive vr-category"/>
          </a>
        </div>
      </div>  
    </div>
    <!--end of container-->
    <div class="container container-white">
      <div class="container-title">VRTV<span id="category-name"></span></div>
      <div id="tv-category-box" role-mn="10">
        <div class="mask-loading">
          <div class="loading-icon"></div>
        </div>
        <div class="row row-vr">
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row row-vr">
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
          <div class="col-sm-2 col-sm-20">
            <a href="./playvr.html?vid=">
              <img src="../images/vrtv/image-small.png" role-err="../images/vrtv/image-small.png" alt="image" class="img-responsive"/>
              <p class="title item-title">
                <span class="item-name" role-limit="4"></span>
                <span class="duration-time"></span>
              </p>
              <div class="hover-mask">
                <div class="play-icon"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="up-box">
        <div class="up-icon"></div>
      </div>
    </div>
    <!--end of container-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="../images/common/logo2.png" class="img-responsive footer-logo">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3 footer-menu">
                VR资讯
              </div>
              <div class="col-sm-3 footer-menu">
                VR TV
              </div>
              <div class="col-sm-3 footer-menu">
                VR 游戏
              </div>
              <div class="col-sm-3 footer-menu">
                VR社区
              </div>
            </div>
            <div class="footer-link content-center">
              <div class="footer-link-line"></div>
              <div class="row">
                <div class="col-sm-12">
                  <span>关于我们</span>
                  <span class="sperate-line">-</span>
                  <span>法律申明</span>
                  <span class="sperate-line">-</span>
                  <span>免责申明</span>
                  <span class="sperate-line">-</span>
                  <span>隐私条款</span>
                  <span class="sperate-line">-</span>
                  <span>商务合作</span>
                </div>
              </div>
            </div>
          </div>  
          <div class="col-sm-3">
            <img src="../images/common/wx.png" class="img-responsive">
          </div>
        </div>
      </div> 
      <!--end of container-->
      <div class="coryright content-center">
        <div class="container">
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s1">2016 瞄瞄互娱科技有限公司版权所有  沪ICP备12012543号-1</span>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12">
              <span class="coryright-s2">国内专业VR播放技术服务供应商</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <!--end of footer-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var category=Base.searchParam("category","number");
        var categoryName={
          "0":"美女",
          "1":"风景",
          "2":"动画",
          "3":"电影",
          "4":"惊险",
          "5":"游戏",
          "6":"惊悚",
          "7":"音乐"
        }
        if(!category){
          Base.showAlert("获取栏目信息失败","error");
        }else{
          $("#category-name").html(categoryName[category]);
          Base.queryData("/search/category?offset=0&length=10","POST",{"category":category},function(data){
            if(Base.isSuccess(data)){
              Base.handleResult("tv-category-box",data,
              {"childrenBox":".col-sm-2",
                "img":"img",
                "txt":".item-name",
                "txt-1":".duration-time",
                "href":"a",
                "title":"a"},
              {"img":"pic_url",
                "txt":"showname",
                "txt-1":"duration",
                "href":"fileid",
                "title":"showname"});
            }else{
              Base.showAlert(data.error_msg,"error");
            }
          },function(err){
            Base.showAlert(err,"error");
            console.log(err);
          });
        }
        $(".up-box .up-icon").on("click",function(){
          $('html,body').animate({scrollTop:0},'slow');
        });
      });
    </script>
  </body>
</html>